.vs/**
.vscode/**
.idea/**
*.sln
Backup/**
build/artifacts/**
**/.vscode/**
**/bower_components/**
**/bin
**/obj
**/Logs
**/appsettings.json
**/*.xproj.user
**/project.lock.json
**/build/**
**/config.js
test/**/bin
test/**/obj
test/**/project.lock.json
Autosave.vsix
VisualCommander_263.vsix
.DS_Store
*.csproj.user
*.userprefs